@model PDFManipulations.Models.EmpModel

@{
    ViewBag.Title = "PDF Operations";
}

@using (Html.BeginForm("MergeFiless", "MergePDF", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" id="UploadFileSection">

            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add More PDF" id="AddMore" class="btn btn-primary" />
                <input type="submit" value="Merge" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
                @ViewBag.Message
            </div>
        </div>
        <div>
            @if (!string.IsNullOrWhiteSpace(ViewBag.fileDownload))
            {
                Html.ActionLink("Click to download", "DownloadFile", "MergePDF");
            }

        </div>

    </div>
}
    <div class="col-md-10" id="UploadFile" hidden>
        @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
        </div>
    </div>
<script src="~/../../js/libs/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#AddMore").click(function () {
            var htmTxt = '<br/><br/>' + $("#UploadFile").html() ;
            //var htmTxt = '<div class="col-md-10"  >' + $("#UploadFile").html() + '</div>';
            $("#UploadFileSection").append(htmTxt);
        });
    });
</script>